html {
	background-color: white;
	font-family: "Tahoma";
}

.topdiv {
	height: 100px;
	background-color: #white;
}

.topimage {
	float: left;
	padding: 30px 200px 0px 150px;
	background-color: #white 	;
	width: 150px;
	height: 50px;
}

nav {
	float: right;
	width: auto;
	display: inline;
	position: absolute;
	height: 100px;
	color: #2F4F4F;
	text-align: center;
}


li {
	display: inline;
	float: left;
	text-align: center;
	padding: 12px 15px 0 15px;
}

.content {
	background-image:url('austin.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 400px;
}

.contentimage {
	height: 400px;
	width: 550px;
	float: left;
}

.formsidecontent {
	height: 400px;
	width: 500px;
	float: left;
}

.formsidetext1 {
	font-size: 24px;
	padding: 65px 0 0 90px;
	font-weight: bold;
}

.formsidetext2 {
	padding: 20px 30px 20px 89px;
	clear: left;
	font-family: "Optima"
}

.formsidediv {
	display: inline;
}

.formsideform {
	padding: 0 0 0 89px;
	width: 126px;
}

.content2 {
	clear: both;
	height: 140px;
	padding-top: 14px;
}

.content2buffer {
	height: 150px;
	width: 150px;
	display: inline;
	float: left;
}

.content2frame {
	float: left;
	display: inline-block;
	width: 200px;
	height: 180px;
	font-family: "Optima"
}

.content2frameimage {
	height: 180px;
	width: 100px;
	float: left;
	padding-top: 10px;
}

.content2frametitle {
	height: 36px;
	width: 200px;
	padding: 23px 0 0 0;
}

.content2frametext {
	height: 60px;
	width: 200px;
	font-size: 12px;
}

.content2framelink {
	height: 60px;
	width: 200px;
}

.content2image {
	width: 100px;
	height: auto;
}

.footer {
	width: 1179px;
	text-align: center;
	clear: both;
	font-family: "Optima"
}